<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-feature android:name="android.hardware.usb.host" />
    <application
        tools:targetApi="29" />
<!--    <uses-sdk android:minSdkVersion="29" />-->
    <!-- Include an intent filter to detect attached USB devices -->
<!--    <intent-filter>-->
<!--        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
<!--    </intent-filter>-->

    <!-- Specify the resource file for USB device filtering -->
<!--    <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
<!--        android:resource="@xml/device_filter" />-->
<!--    android:allowBackup="true"-->
<!--    android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--    android:fullBackupContent="@xml/backup_rules"-->
<!--    android:icon="@mipmap/ic_launcher"-->
<!--    android:label="@string/app_name"-->
<!--    android:roundIcon="@mipmap/ic_launcher_round"-->
<!--    android:supportsRtl="true"-->
<!--    android:theme="@style/Theme.USBconnection"-->
</manifest>